@page "/posts"
@attribute [StreamRendering(true)]
@inject NavigationManager Nav
@inject AppDbContext Db

<PageTitle>Posts</PageTitle>

<h1>Posts</h1>

@if (posts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form method="post" @formname="delete-post" onsubmit="@(() => DeletePost())">
        <AntiforgeryToken />
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in posts)
                {
                    <tr>
                        <td>@p.Title</td>
                        <td>@p.Created</td>
                        <td><a href="/post/@p.Id">View</a></td>
                        <td>
                            <input type="hidden" value="@p.Id" name="PostId" />
                            <input type="submit" value="Delete" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
