@page "/posts"
@attribute [StreamRendering(true)]
@inject NavigationManager Nav
@inject BlogApiClient Client

<PageTitle>Posts</PageTitle>

<h1>Posts</h1>

<form method="post" @formname="blog-post-actions">
    <AntiforgeryToken />

    @if (posts is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in posts)
                {
                    <tr>
                        <td>@p.Title</td>
                        <td>@p.Created</td>
                        <td><a href="/post/@p.Id">View</a></td>
                        <td>
                            <button type="submit" name="@nameof(PostToDelete)" value="@p.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>
