@page "/post/{id:int}"
@attribute [StreamRendering(true)]
@inject BlogApiClient Client

<h3></h3>

@if (Post is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@Post.Title</h1>

    <p>@Post.Content</p>
}
