@page "/post/{id:int}"
@attribute [StreamRendering(true)]
@using Markdig
@inject BlogApiClient Client

@if (Post is null)
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}
else
{
    <PageTitle>@Post.Title</PageTitle>
    <h1>@Post.Title</h1>

    var content = Post.Content;
    var html = Markdown.ToHtml(content);
    var markup = new MarkupString(html);

    <div>@markup</div>
}
